<h1>Configuración</h1>
<div class="card">

    <div class="card-head"> Información de Perfil</div>
        <div class="card-body">
            <b>USUARIO:</b> Araneth25 <br>
            <b>NOMBRE:</b> Araneth Mirella <br>
            <b>APELLIDO:</b> Allccaco Garcia <br>
            <b>MÓVIL:</b> +3467110804
        </div>
</div>

<div class="card">
    <div class="card-head"> Informes de un problema</div>
    <div class="card-body">
        <form>
          <div class="comment-input">
            <textarea placeholder="Escribe tu comentario aquí" rows="4"></textarea>
          </div>
          <div class="comment-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <span class="char-count">0/200</span>
          </div>
        </form>
      </div>
  </div>
  

<div class="card">

    <div class="card-head"> Respecto a ECO Solutions</div>
        <div class="card-body">
            Si desea ponerse en contacto con nosotros, visite nuestra página.
        </div>
</div>
<div class="card">

    <div class="card-head"> Eliminar cuenta</div>
    <div class="card-body">
        <form>
          <div class="comment-input">
            <textarea placeholder="Escribe razones por qué quiere eliminar su cuenta" rows="4"></textarea>
          </div>
          <div class="comment-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <span class="char-count">0/300</span>
          </div>
        </form>
</div>

