<h1>Bienvenid@ a ECO Solutions</h1>
<div class="card">

    <div class="card-head">  Nuestro ECOsistema </div>
        <div class="card-body">
            Creemos en <b>un mundo más eficiente</b>, donde gestionemos nuestros recursos de forma económica y sencilla.
            <br>Por eso hemos creado <b>un ecosistema puntero</b>, desarrollando y fabricando <b>productos propios</b> para conectar a nuestros clientes al futuro.
            <br><b>Acompañamos</b> a nuestros clientes en su <b>transición</b> hacia una gestión más eficiente, ya sea en iluminación, autoconsumo, Smart City, telemedida o gestión y monitorización de riegos.
        </div>
</div>

<br>

<div class="card-container">
    <div class="rotating-card">
      <div class="numeric-display">
        <div class="display-label">Precio Máximo Actual</div>
        <div class="display-value">{{ precios[0] }}</div>
      </div>
    </div>
    <div class="rotating-card">
      <div class="numeric-display">
        <div class="display-label">Precio Mínimo Actual</div>
        <div class="display-value">{{ precios[1] }}</div>
      </div>
    </div>
    <div class="rotating-card">
      <div class="numeric-display">
        <div class="display-label">Precio Máximo Anterior</div>
        <div class="display-value">{{ precios[2] }}</div>
      </div>
    </div>
    <div class="rotating-card">
      <div class="numeric-display">
        <div class="display-label">Precio Mínimo Anterior</div>
        <div class="display-value">{{ precios[3] }}</div>
      </div>
    </div>
</div>

<div class="table-container">
<table class="interactive-table">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let precio of precios; let i = index">
        <td>{{ i }}:00</td>
        <td>{{ precio }}</td>
      </tr>
      <tr>
        <td>Media</td>
        <td>{{ mediaAritmetica }}</td>
      </tr>
    </tbody>
</table>
</div> 
