<h1>Informes ECO Solutions</h1>

<div class="card">
    <div class="card-content">
      <div class="card-text">
        <div class="card-head">Smart Energy</div>
        <div class="card-body">
          Nuestro contador inteligente recopila <b>información</b> sobre el consumo en <b>tiempo real</b> y 
          la envía de forma segura a los servidores de ECO, que permiten controlar las instalaciones desde cualquier
          dispositivo móvil. Las lecturas del Smart Meter muestran al consumidor los principales parámetros de su <b>consumo</b> 
          energético y le permiten tomar el <b>control de la instalación</b>, adaptando las horas de funcionamiento para reducir la factura.
        </div>
      </div>
      <div class="card-image">
        <img src="assets/img/econav/smartenergy.png" alt="energy" width="350" height="300" class="animated-image">
      </div>
    </div>
  </div>
  

<div class="card">
    <div class="card-content">
    <div class="card-text">
    <div class="card-head">  Smart City   </div>
        <div class="card-body">
            Nuestra plataforma ECO Smart City es un centro de gestión donde podrás supervisar y controlar el funcionamiento de todos los productos de ECO Solutions.
            Hemos creado un <b>ecosistema</b> que permitirá llevar la <b>eficiencia</b> al siguiente nivel, dotando a nuestros clientes de un control completo e integrado sobre sus instalaciones de forma sencilla.
            ECO Smart City es la tecnología para acompañarte al futuro.
            ¿Te apuntas? 
        </div>
        <div class="card-image">
            <img src="assets/img/econav/smartcity.png" alt="city"  width="300" height="200" class="animated-image">
          </div>
    </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="card-text">
    <div class="card-head">  Smart Water    </div>
        <div class="card-body">
            ECO Smart Water te da la posibilidad de <b>monitorizar</b> y <b>controlar</b> las instalaciones de riego de forma remota desde cualquier dispositivo.
            Esta tecnología permite implementar el <b>riego</b> en cualquier ubicación de forma sencilla y <b>sin</b>  necesidad de <b>cables</b>, consiguiendo el máximo control gracias a la obtención de datos en tiempo real y el análisis automático de datos históricos de riego.
        </div>
        <div class="card-image">
            <img src="assets/img/econav/smartewater.png" alt="water" width="320" height="320" class="animated-image">
          </div>
    </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="card-text">
    <div class="card-head">  Sobre nosotros   </div>
        <div class="card-body">
            Somos un equipo con experiencia en los sectores de energía y Smart City y queremos crear <b>soluciones globales</b> que aúnen la <b>visión tecnológica</b> y <b>medioambiental</b>.
            Nacimos con la ambición de crear un mundo más <b>eficiente</b>, ayudando a nuestros clientes a <b>reducir su consumo </b>y huella de carbono para fomentar un consumo sostenible. 
            Creemos en la mejora constante y la creación de <b>tecnología de calidad</b>, por eso nuestro equipo trabaja día a día para tener los <b>productos</b> más <b>punteros</b> al servicio de nuestros clientes. 
        </div>
        <div class="card-image">
            <img src="assets/img/econav/sobrenosotros.png" alt="water" width="320" height="320" class="animated-image">
          </div>
    </div>
    </div> 
</div>